<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="_102_Essentials.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="_102_Essentials.Save" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <appSettings>
    <add key="host" value="http://localhost:3000"/>
  </appSettings>
  <userSettings>
    <_102_Essentials.Settings>
      <setting name="auth" serializeAs="String">
        <value />
      </setting>
    </_102_Essentials.Settings>
    <_102_Essentials.Save>
      <setting name="authorization" serializeAs="String">
        <value>125125125125</value>
      </setting>
    </_102_Essentials.Save>
  </userSettings>
</configuration>